@import url(fontawesome-all.min.css);



/* Box Model Hack */
* {
    box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear {
   clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

html{
    background: url(/igProfilePic.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
body{
    font-size: 1.25rem;
    font-family: 'Permanent Marker','sans-serif','cursive';
    

}


/******************************************
/* LAYOUT
/*******************************************/
/* Basic */
.nav-list{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 10px;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;

   
}
.nav-item:first-child{

    color: white;
    margin-right: auto;
    margin-left: 2em;
}
    
    
   
.fa-brands{
color: white;
}
.fa-solid{
color: white;
}






/******************************************
/* ADDITIONAL STYLES
/*******************************************/
